.Card {
    border-style: solid;
    border: 20px;
    width: fit-content;
    height: 250px;
    position: relative;
    margin: 0;
    margin-left: 10px;
    margin-top: 20px;
    
}
.Custom{
    margin-left: 15px;
    width: fit-content;
    position: relative;
}
.CardPrice{
    color: white;
    font-size: 30px;
}

.CardTitle{
    color:  white;
    font-size: 20px;
    
}

.CardText{
    position: absolute;
    width: 100%;
    top:80%;
    opacity: 0.3;
    overflow: auto;
    background-blend-mode: multiply;

    
}


.CardBody{
    position: relative;
}

.CardText span{
    position: relative;
    background: black;
    background: rgba(0, 0, 0, 0.658);
    background-blend-mode: multiply;

}

.custom-bg{
    background: rgba(0, 0, 0, 0.658);
    width: 100%;
    height: 35%;
}

.custom-bg a{
    text-decoration: none;
    color: white;
}

.custom-bg a:hover{
    text-decoration: none;
    color: white;
}
.card:hover .HoveringMenu{
    display: block;
}

.HoveringMenu{
    display: none;
    position: absolute;
    width: 100%;
    height: 65%;
    top: 35%;
    left: 0;
    z-index: 1;
    background-color: rgba(136, 136, 136, 0.37);
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.HoveringMenu img{
    width: 25%;
    height: 25%;
    object-fit: contain;
}
.EditGameScreen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EditGameForm{
    border-color: grey;
    border-radius: 15px;
}