.SignButton{
    width: 15vw;
     display: flex;
}

.SignButton b{
    color: rgb(179, 179, 179);
}

.text-button:hover{
    font-size: 1.1rem;
    color: white;
}
.text-button{
    font-size: small;
    
}

.AuthPanelFading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}