.CartSection{
    margin-right: 40px;
}

.CartSection img{
    max-width: 35px;
    max-height: 35px;
}


.ShoppingCartMenuFading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}
